_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea
fixes.md
.Rhistory
assets/jupyter/output/_data/rendercv_output/
Kasey_Zapatka_CV.yaml
